
  .statbox {
    border: 1px solid black;
    display:inline-block; 
    width:60px; 
    height:50px; 
    background-color: rgba(76,101,76, 1); 
    text-align: center;
     margin-top:10px; 
     margin-left:10px; 
     margin-right:10px; 
     font-size:30px; 
     font-weight:700;
     border-radius: 8px;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .stat-text {
    display:inline-block; 
    width:60px; 
    text-align: center;
     margin-left:10px; 
     margin-right:10px; 
     margin-top:3px; 
     font-size:12px; 
     font-weight:500;
     padding:1px;
    font-family: 'IM Fell English', serif;
  }

  .unit-name {
    font-family: 'IM Fell English', serif;
    position:absolute;
    top: 15px;
    left:70px;
    font-size:28px
  }

  .unit-props {
    font-family: 'IM Fell English', serif;
    position:absolute;
    top: 100px;
    left:20px;
    width: 350px;
    font-size:17px;
    z-index: 2;
  }

  .section-name {
    display: inline-block;
    width: 45%;
    font-size: 30px;
    font-family: 'IM Fell English', serif;
  }

  .section-min-max {
    display: inline-block;
    width: 45%;
    font-size: 20px;
    font-family: 'IM Fell English', serif;
    text-align: right; 
  }
